- if show_new_nav? && current_user
  - content_for :breadcrumbs_extra do
    = link_to "New snippet", new_snippet_path, class: "btn btn-new", title: "New snippet"

.top-area
  %ul.nav-links
    = nav_link(page: dashboard_snippets_path, html_options: {class: 'home'}) do
      = link_to dashboard_snippets_path, title: '您的代码片段', data: {placement: 'right'} do
        您的代码片段
    = nav_link(page: explore_snippets_path) do
      = link_to explore_snippets_path, title: '浏览代码片段', data: {placement: 'right'} do
        浏览代码片段

  - if current_user
    .nav-controls.hidden-xs{ class: ("hidden-sm hidden-md hidden-lg" if show_new_nav?) }
      = link_to "新建代码片段", new_snippet_path, class: "btn btn-new", title: "新建代码片段"
