- if discussion.can_resolve?(current_user) && can?(current_user, :create_issue, @project)
  %new-issue-for-discussion-btn{ ":discussion-id" => "'#{discussion.id}'",
                                 "inline-template" => true }
    .btn-group{ role: "group", "v-if" => "showButton" }
      .btn.btn-default.discussion-create-issue-btn.has-tooltip{ title: "在新的问题上解决这个争论",
                                                               "aria-label" => "在新的问题上解决这个争论",
                                                               "data-container" => "body" }
        = link_to custom_icon('icon_mr_issue'), new_project_issue_path(@project, merge_request_to_resolve_discussions_of: merge_request.iid, discussion_to_resolve: discussion.id), title: "在新的问题上解决这个争论", class: 'new-issue-for-discussion'
