.nav-sidebar{ class: ("sidebar-icons-only" if collapsed_sidebar?) }
  .nav-sidebar-inner-scroll
    .context-header
      = link_to profile_path, title: '个人资料设置' do
        .avatar-container.s40.settings-avatar
          = icon('user')
        .sidebar-context-title User Settings
    %ul.sidebar-top-level-items
      = nav_link(path: 'profiles#show', html_options: {class: 'home'}) do
        = link_to profile_path, title: '个人资料设置' do
          .nav-icon-container
            = custom_icon('profile')
          %span.nav-item-name
            个人资料
      = nav_link(controller: [:accounts, :two_factor_auths]) do
        = link_to profile_account_path, title: '账号' do
          .nav-icon-container
            = custom_icon('account')
          %span.nav-item-name
            账号
      - if current_application_settings.user_oauth_applications?
        = nav_link(controller: 'oauth/applications') do
          = link_to applications_profile_path, title: '应用' do
            .nav-icon-container
              = custom_icon('applications')
            %span.nav-item-name
              应用
      = nav_link(controller: :chat_names) do
        = link_to profile_chat_names_path, title: '聊天' do
          .nav-icon-container
            = custom_icon('chat')
          %span.nav-item-name
            聊天
      = nav_link(controller: :personal_access_tokens) do
        = link_to profile_personal_access_tokens_path, title: '访问令牌' do
          .nav-icon-container
            = custom_icon('access_tokens')
          %span.nav-item-name
            访问令牌
      = nav_link(controller: :emails) do
        = link_to profile_emails_path, title: '邮箱' do
          .nav-icon-container
            = custom_icon('emails')
          %span.nav-item-name
            邮箱
      - unless current_user.ldap_user?
        = nav_link(controller: :passwords) do
          = link_to edit_profile_password_path, title: '密码' do
            .nav-icon-container
              = custom_icon('lock')
            %span.nav-item-name
              密码
      = nav_link(controller: :notifications) do
        = link_to profile_notifications_path, title: '通知' do
          .nav-icon-container
            = custom_icon('notifications')
          %span.nav-item-name
            通知

      = nav_link(controller: :keys) do
        = link_to profile_keys_path, title: 'SSH 密钥' do
          .nav-icon-container
            = custom_icon('key')
          %span.nav-item-name
            SSH 密钥
      = nav_link(controller: :gpg_keys) do
        = link_to profile_gpg_keys_path, title: 'GPG 密钥' do
          .nav-icon-container
            = custom_icon('key_2')
          %span.nav-item-name
            GPG 密钥
      = nav_link(controller: :preferences) do
        = link_to profile_preferences_path, title: '偏好' do
          .nav-icon-container
            = custom_icon('preferences')
          %span.nav-item-name
            偏好
      = nav_link(path: 'profiles#audit_log') do
        = link_to audit_log_profile_path, title: '认证日志' do
          .nav-icon-container
            = custom_icon('authentication_log')
          %span.nav-item-name
            认证日志

    = render 'shared/sidebar_toggle_button'
