- page_title "账号"
- @content_class = "limit-container-width" unless fluid_layout
= render 'profiles/head'

- if current_user.ldap_user?
  .alert.alert-info
    部分设置对于 LDAP 账号无效

.row.prepend-top-default
  .col-lg-4.profile-settings-sidebar
    %h4.prepend-top-0
      私有令牌
    %p
      确保这些令牌的安全，
      因为任何人都可以通过他们来访问GitLab。
  .col-lg-8.private-tokens-reset
    = render partial: 'reset_token', locals: { label: 'Private token', button_label: '重置私有令牌', help_text: '您的私有令牌可在 ATOM 和 API 中用来做免用户名/密码认证。' }

    = render partial: 'reset_token', locals: { label: 'RSS token', button_label: '重置 RSS 令牌', help_text: '您的 RSS 令牌可用于创建个性化 RSS 源的 URL。' }

    - if incoming_email_token_enabled?
      = render partial: 'reset_token', locals: { label: 'Incoming email token', button_label: 'Reset incoming email token', help_text: '您的传入邮件令牌可用于通过邮件创建问题，它将包含在项目指定的邮件地址中。' }

%hr
.row.prepend-top-default
  .col-lg-4.profile-settings-sidebar
    %h4.prepend-top-0
      两步验证
    %p
      开启两步验证 (2FA) 增加账户安全性。
  .col-lg-8
    %p
      状态: #{current_user.two_factor_enabled? ? '启用' : '禁用'}
    - if current_user.two_factor_enabled?
      = link_to '管理两步验证', profile_two_factor_auth_path, class: 'btn btn-info'
      = link_to '禁用', profile_two_factor_auth_path,
                method: :delete,
                data: { confirm: "确定要继续么？ 这将禁用你已注册的应用和 U2F 设备。" },
                class: 'btn btn-danger'
    - else
      .append-bottom-10
        = link_to '启用两步验证', profile_two_factor_auth_path, class: 'btn btn-success'

%hr
- if button_based_providers.any?
  .row.prepend-top-default
    .col-lg-4.profile-settings-sidebar
      %h4.prepend-top-0
        社会化登录
      %p
        使用以下服务之一激活登录
    .col-lg-8
      %label.label-light
        连接到的账户
      %p 点击下列服务的图标激活第三方登录
      - button_based_providers.each do |provider|
        .provider-btn-group
          .provider-btn-image
            = provider_image_tag(provider)
          - if auth_active?(provider)
            - if unlink_allowed?(provider)
              = link_to unlink_profile_account_path(provider: provider), method: :delete, class: 'provider-btn' do
                断开
            - else
              %a.provider-btn
                激活
          - else
            = link_to omniauth_authorize_path(:user, provider), method: :post, class: 'provider-btn not-active' do
              连接
  %hr
- if current_user.can_change_username?
  .row.prepend-top-default
    .col-lg-4.profile-settings-sidebar
      %h4.prepend-top-0.warning-title
        修改用户名
      %p
        修改用户名会同时修改全部个人项目的路径！
    .col-lg-8
      = form_for @user, url: update_username_profile_path, method: :put, html: {class: "update-username"} do |f|
        .form-group
          = f.label :username, "路径", class: "label-light"
          .input-group
            .input-group-addon
              = root_url
            = f.text_field :username, required: true, class: 'form-control'
        .help-block
          当前路径：
          #{root_url}#{current_user.username}
        .prepend-top-default
          = f.button class: "btn btn-warning", type: "submit" do
            = icon "spinner spin", class: "hidden loading-username"
            更新用户名
  %hr

- if signup_enabled?
  .row.prepend-top-default
    .col-lg-4.profile-settings-sidebar
      %h4.prepend-top-0.danger-title
        删除账号
    .col-lg-8
      - if @user.can_be_removed? && can?(current_user, :destroy_user, @user)
        %p
          删除账号会有以下影响：
        = render 'users/deletion_guidance', user: current_user
        = link_to '删除账号', user_registration_path, data: { confirm: "确定要删除 #{current_user.name} ？" }, method: :delete, class: "btn btn-remove"
      - else
        - if @user.solo_owned_groups.present?
          %p
            您的账号当前是下列群组的拥有者：
            %strong= @user.solo_owned_groups.map(&:name).join(', ')
          %p
            请在删除账号前转移群组所有权或删除之。
        - else
          %p
            您没有权限删除这个用户。
.append-bottom-default
