- page_title "合并请求"

- if show_new_nav? && current_user
  - content_for :breadcrumbs_extra do
    = render 'shared/new_project_item_select', path: 'merge_requests/new', label: "新建合并请求"

- if @group_merge_requests.empty?
  = render 'shared/empty_states/merge_requests', project_select_button: true
- else
  .top-area
    = render 'shared/issuable/nav', type: :merge_requests
    - if current_user
      .nav-controls{ class: ("visible-xs" if show_new_nav?) }
        = render 'shared/new_project_item_select', path: 'merge_requests/new', label: "新建合并请求"

  = render 'shared/issuable/filter', type: :merge_requests

  .row-content-block.second-block
    只显示来自
    %strong= @group.name
    群组的合并请求。
    - if current_user
      请到 #{link_to '仪表盘', merge_requests_dashboard_path} 查看全部合并请求。

  = render 'shared/merge_requests'
