- @no_container = true
- breadcrumb_title "标记"
- page_title "新建标记"
= render "shared/mr_head"

%div{ class: container_class }
  %h3.page-title
    新建标记
  %hr
  = render 'shared/labels/form', url: project_labels_path(@project), back_path: project_labels_path(@project)
