%h4.prepend-top-0
  保密变量
  = link_to icon('question-circle'), help_page_path('ci/variables/README', anchor: 'secret-variables'), target: '_blank'
%p
  这些变量将会设置为 runner 的环境变量，且不会显示在构建日志中。
%p
  所以你可以使用它们来保存密码、密钥和其他你想设置的。
%p
  如果明确要求，变量的值可以在作业日志中可见。
