- content_for :note_actions do
  - if can?(current_user, :update_issue, @issue)
    = link_to '重新打开问题', issue_path(@issue, issue: {state_event: :reopen}, format: 'json'), data: {original_text: "重新打开问题", alternative_text: "评论并重新打开问题"}, class: "btn btn-nr btn-reopen btn-comment js-note-target-reopen #{issue_button_visibility(@issue, false)}", title: '重新打开问题'
    = link_to '关闭问题', issue_path(@issue, issue: {state_event: :close}, format: 'json'), data: {original_text: "关闭问题", alternative_text: "评论并关闭问题"}, class: "btn btn-nr btn-close btn-comment js-note-target-close #{issue_button_visibility(@issue, true)}", title: '关闭问题'

#notes
  = render 'shared/notes/notes_with_form', :autocomplete => true
