= content_for :sub_nav do
  .scrolling-tabs-container.sub-nav-scroll
    = render 'shared/nav_scroll'
    .nav-links.sub-nav.scrolling-tabs
      %ul{ class: (container_class) }
        - if project_nav_tab?(:issues) && !current_controller?(:merge_requests)
          = nav_link(controller: :issues) do
            = link_to project_issues_path(@project), title: '问题' do
              %span
                列表

          = nav_link(controller: :boards) do
            = link_to project_boards_path(@project), title: '看板' do
              %span
                看板

        - if project_nav_tab?(:merge_requests) && current_controller?(:merge_requests)
          = nav_link(controller: :merge_requests) do
            = link_to project_merge_requests_path(@project), title: '合并请求' do
              %span
                合并请求

        - if project_nav_tab? :labels
          = nav_link(controller: :labels) do
            = link_to project_labels_path(@project), title: '标记' do
              %span
                标记

        - if project_nav_tab? :milestones
          = nav_link(controller: :milestones) do
            = link_to project_milestones_path(@project), title: '里程碑' do
              %span
                里程碑
