-# @project is present when viewing Project's milestone
- project = @project || issuable.project
- namespace = @project_namespace || project.namespace.becomes(Namespace)
- labels = issuable.labels
- assignees = issuable.assignees
- base_url_args = [namespace, project]
- issuable_type_args = base_url_args + [issuable.class.table_name]
- issuable_url_args = base_url_args + [issuable]

%li.issuable-row
  %span
    - if show_project_name
      %strong #{project.name} &middot;
    - elsif show_full_project_name
      %strong #{project.name_with_namespace} &middot;
    - if issuable.is_a?(Issue)
      = confidential_icon(issuable)
    = link_to issuable.title, issuable_url_args, title: issuable.title
  .issuable-detail
    = link_to [namespace, project, issuable] do
      %span.issuable-number= issuable.to_reference

    - labels.each do |label|
      = link_to polymorphic_path(issuable_type_args, { milestone_title: @milestone.title, label_name: label.title, state: 'all' }) do
        - render_colored_label(label)

    %span.assignee-icon
      - assignees.each do |assignee|
        = link_to polymorphic_path(base_url_args, { milestone_title: @milestone.title, assignee_id: assignee.id, state: 'all' }),
                  class: 'has-tooltip', title: "指派给 #{assignee.name}", data: { container: 'body' } do
          - image_tag(avatar_icon(assignee, 16), class: "avatar s16", alt: '')
